src/main/resources/META-INF/wsdl/employee.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/EmployeeServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeServices" targetNamespace="http://www.example.org/EmployeeServices/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/EmployeeServices/">
            <xsd:element name="getEmployee">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!--<xsd:element name="getCustomerAccountsResponse">-->
                <!--<xsd:complexType>-->
                    <!--<xsd:sequence>-->
                        <!--<xsd:element name="Accounts" type="tns:Accounts"/>-->
                    <!--</xsd:sequence>-->
                <!--</xsd:complexType>-->
            <!--</xsd:element>-->
            <!--<xsd:element name="getCustomerAccounts" type="tns:getCustomerAccounts">-->
            <!--</xsd:element>-->
            <!--<xsd:complexType name="getCustomerAccounts">-->
                <!--<xsd:sequence>-->
                    <!--<xsd:element name="customerID" type="xsd:int"/>-->
                <!--</xsd:sequence>-->
            <!--</xsd:complexType>-->
            <xsd:complexType name="Employee">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="position" type="xsd:string"/>
                    <xsd:element name="age" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getEmployeeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="employee" type="tns:Employee"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!--<xsd:complexType name="Accounts">-->
                <!--<xsd:sequence>-->
                    <!--<xsd:element name="account" type="tns:Account" maxOccurs="unbounded" minOccurs="0"/>-->
                <!--</xsd:sequence>-->
            <!--</xsd:complexType>-->
        </xsd:schema>
    </wsdl:types>
    <!--<wsdl:message name="getCustomerAccountsRequest">-->
        <!--<wsdl:part element="tns:getEmployee" name="parameters"/>-->
    <!--</wsdl:message>-->
    <!--<wsdl:message name="getCustomerAccountsResponse">-->
        <!--<wsdl:part element="tns:getCustomerAccountsResponse" name="parameters"/>-->
    <!--</wsdl:message>-->
    <wsdl:message name="getEmployeeRequest">
        <wsdl:part name="parameters" element="tns:getEmployee"/>
    </wsdl:message>
    <wsdl:message name="getEmployeeResponse">
        <wsdl:part name="parameters" element="tns:getEmployeeResponse"/>
    </wsdl:message>
    <wsdl:portType name="EmployeeServices">
        <!--<wsdl:operation name="getCustomerAccounts">-->
            <!--<wsdl:input message="tns:getCustomerAccountsRequest"/>-->
            <!--<wsdl:output message="tns:getCustomerAccountsResponse"/>-->
        <!--</wsdl:operation>-->
        <wsdl:operation name="getEmployee">
            <wsdl:input message="tns:getEmployeeRequest"/>
            <wsdl:output message="tns:getEmployeeResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmployeeServicesSOAP" type="tns:EmployeeServices">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!--<wsdl:operation name="getCustomerAccounts">-->
            <!--<soap:operation soapAction="http://www.example.org/EmployeeServices/getCustomerAccounts"/>-->
            <!--<wsdl:input>-->
                <!--<soap:body use="literal"/>-->
            <!--</wsdl:input>-->
            <!--<wsdl:output>-->
                <!--<soap:body use="literal"/>-->
            <!--</wsdl:output>-->
        <!--</wsdl:operation>-->
        <wsdl:operation name="getEmployee">
            <soap:operation soapAction="http://www.example.org/EmployeeServices/getEmployee"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmployeeServices">
        <wsdl:port binding="tns:EmployeeServicesSOAP" name="EmployeeServicesSOAP">
            <soap:address location="http://www.example.org/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
